// Colors
$white: #ffffff;

$theme-colors: (
    "primary": #438ffe,
    "success": #8bc38a,
    "secondary": #fe764b,
    "info": #83bcbd,
);

// text
$text-muted-color: #abb1bf;

// Body colors
$body-color: #160e4d;
$body-bg: #f8f8f8;

// border color
$border-color: #000000;

// Scrollbar
$scrollbar-color: $text-muted-color;
