// All the SCSS Variables goes here

// Spacer for specifying spacing
// $spacer: 1rem;

// Fonts
$font-size-base: 1rem;
$font-family: "Josefin Sans", sans-serif;

// Border
$border-radius: 0;
$border-circle: 100%;
$border-common: 1px solid $border-color;

// Srollbar
$scrollbar-border-radius: 8px;
