* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0.25px solid #AAAAAA;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-grow {
    flex-grow: 1;
}

.d-flex .icon {
    align-self: center;
}

.icon {
    padding-right: 0.5rem;
    width: 1.5rem;
    text-align: center;
}

.header {
    align-items: center;
}

.header-content {
    padding: 1.25rem 2.5rem;
}

.header-button-con {
    padding: 0.5rem 0;
}

.header-button {
    height: 3.5rem;
}

.header-height {
    height: 5.5rem;
}

.sidebar {
    flex-basis: 22rem;
}

/* .sidebar-top {
    padding: 0.5rem;
    padding-left: 1.5rem;
    align-items: center;
} */

.sidebar-item {
    padding: 0.5rem;
    padding-left: 1.5rem;
    align-items: center;
}

#search {
    border-radius: 0.25rem;
    width: 80%;
    height: 2.75rem;
}

.bottom-border {
    border-bottom: 1px solid #AAAAAA;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}