* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #919191;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-grow {
    flex-grow: 1;
}

.icon {
    align-self: center;
    padding-right: 0.5rem;
    width: 1.5rem;
    text-align: center;
}

.header {
    align-items: center;
    background-color: #f8f8fa;
}

.header-button-con {
    padding: 0.75% 0;
    width: 30%;
    max-width: 300px;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-button {
    height: 95%;
    padding: 0 2rem;
    border: 1px solid #36cca1;
    border-radius: 0.25rem;
    background-color: #18dca1;
    color: #c5fef9;
    font-weight: 600;
    cursor: pointer;
}

.header-height {
    flex-basis: 8%;
    flex-shrink: 0;
    min-height: 56px;
    border-bottom: 1px solid #f2f3fa;
}

.sidebar {
    flex-basis: 20%;
    max-width: 225px;
    min-width: min-content;
    overflow: hidden;
    border-right: 1px solid #f2f3fa;
}

.sidebar-item {
    padding: 0.75rem 1.75rem;
    margin: 0.75rem 1.375rem;
    color: #888888;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #f7f6f9;
    color: #383838;
}

.sidebar-top {
    color: #383838;
}

.sidebar-section {
    padding: 11% 0;
}

.nav {
    padding-top: 11%;
    overflow: auto;
}

#search {
    border: 1px solid #f2f3fa;
    border-radius: 0.25rem;
    flex-grow: 1;
    height: 50%;
    min-height: 2.25rem;
    padding: 0 0.625rem;
    padding-left: 1.5rem;
    font-size: 0.75rem;
    outline: none;
    width: 70%;
    min-width: 500px;
}

.search-bar {
    padding: 0 3rem;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
}

.srch-icon {
    position: absolute;
    margin: auto 0;
    margin-right: 0.625rem;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 3rem;
    bottom: 0;
}

.main {
    background-color: #fcfbfe;
}

.bottom-border {
    border-bottom: 1px solid #f2f3fa;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}