@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?h5t2b8');
  src:  url('fonts/app.eot?h5t2b8#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?h5t2b8') format('truetype'),
    url('fonts/app.woff?h5t2b8') format('woff'),
    url('fonts/app.svg?h5t2b8#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_fluent_grid_dots_filled_icon:before {
  content: "\e907";
}
.icon-defense_protection_security_shield_icon:before {
  content: "\e905";
}
.icon-apps_icon:before {
  content: "\e904";
}
.icon-log-out:before {
  content: "\e908";
}
.icon-account_circle:before {
  content: "\e900";
}
.icon-product-hunt:before {
  content: "\e906";
}
.icon-question-circle-o:before {
  content: "\e901";
}
.icon-calendar-o:before {
  content: "\e902";
}
.icon-dot-circle-o:before {
  content: "\e903";
}
