.main {
    &-content {
        padding: 2.5rem;

        @include for-size(portrait-tablet) {
            padding: 1.5rem;
        }

        .statistics {
            @include for-size(landscape-tablet) {
                flex-wrap: wrap;
            }
        }
    }

    &-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}
