// Styles for Sidebar lies here
.sidebar {
    background-color: $sidebar-bg-color;
    width: 100px;
    transition: all ease-in-out 0.4s;

    .nav-item {
        margin: $sidebar-icon-padding * 0.5;
    }
    .nav-link {
        font-size: $sidebar-icon-size;
        color: $sidebar-icon-color;

        .icon {
            padding: $sidebar-icon-padding * 0.5;
        }

        &.active {
            color: $sidebar-icon-active-color;
        }
    }

    @include for-landscape-phone {
        transform: translateX(-76px);
        width: 0;

        .nav-item {
            margin: $sidebar-icon-sm-padding * 0.5;
        }
        .nav-link {
            font-size: $sidebar-icon-size;
            color: $sidebar-icon-color;

            .icon {
                padding: $sidebar-icon-sm-padding * 0.5;
            }

            &.active {
                color: $sidebar-icon-active-color;
            }
        }
    }
}

.sidebar-toggle {
    background-color: $white;
    padding: 0.5rem 0.25rem;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    .icon {
        transition: all ease-in-out 0.4s;
    }
    border-top-right-radius: $sidebar-toggle-border-radius;
    border-bottom-right-radius: $sidebar-toggle-border-radius;

    @include for-landscape-phone {
        left: 76px;
        .sidebar-toggle {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}

#sidebar-checkbox:checked ~ .sidebar {
    transform: translateX(-100px);
    width: 0;
    .sidebar-toggle {
        .icon {
            transform: rotate(180deg);
        }
    }

    @include for-landscape-phone {
        width: 76px;
        transform: translateX(0);
        .sidebar-toggle {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}
