// Styles for Sidebar lies here
.sidebar {
    background-color: $sidebar-bg-color;
    padding-bottom: 4.25rem;
    transition: all 0.4s;

    .nav-item {
        margin: $sidebar-icon-padding * 0.5;
    }
    .nav-link {
        font-size: $sidebar-icon-size;
        color: $sidebar-icon-color;

        .icon {
            padding: $sidebar-icon-padding * 0.5;
        }

        &.active {
            color: $sidebar-icon-active-color;
        }
    }
}

.sidebar-toggle {
    background-color: $white;
    border-radius: -10px;
    padding: 0.25rem 0.125rem;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    .icon {
        transition: all 0.4s;
    }
}

#sidebar-checkbox:checked ~ .sidebar {
    transform: translateX(-100px);
    width: 0;
    .sidebar-toggle {
        transform-origin: center;
        transform: translateY(-50%);
        right: -120px;
        .icon {
            transform: rotate(180deg);
        }
    }
}
