// All the SCSS Variables goes here

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

// Header
$header-height: 100px;

// Border
$border-common: 1px solid $border-color;
$card-border-width: 2px;