// All the SCSS Variables goes here

// Spacer for specifying spacing
// $spacer: 1rem;

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

// Border
$border-radius: 0;
$border-circle: 100%;
$border-common: 1px solid $border-color;

$header-sidebar-padding: 2.5rem;

// Header
$header-height: 90px;
$header-padding-x: $header-sidebar-padding;
$brand-icon-size: 1.125rem;

// searchbar
$search-bar-height: 44px;

// notification
$notif-icon-size: 1.125rem;

// profile image
$profile-img-size: 35px;

// Sidebar
$sidebar-icon-size: 1.25rem;
$sidebar-icon-padding: $header-sidebar-padding;

// Card
$stat-card-font-weight: 300;
$stat-card-font-size: 1rem;

$stat-card-count-padding: 0.75rem;